<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <span class="logo-icon">🎓</span>
      <span class="logo-text">StudentDash</span>
    </div>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>

    <ul class="nav-links">
      <li>
       <a routerLink="/" >Home</a> 
      </li>
      <li>
        <a routerLink="/students" routerLinkActive="active">Students</a>
      </li>
    </ul>
  </div>
</nav>

